<body class="w3-theme-l5">
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
    <div class="W3-top">
        <img src="assets/github.png"  style="height:05%; width:05%"><i class="w3-margin-right"></i>
        <a href="https://github.com/abbyshabi" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
            <img src="{{profile.avatar_url}}" class="w3-circle" style="height:10%;width:10%" alt="Avatar">
          </a>
    </div>
  </div>